<?xml version="1.0" ?>
<config>
    <modules>
        <Kdv_Insurance>
            <version>1.0.0</version>
        </Kdv_Insurance>
    </modules>
    <global>
        <models>
            <insurance>
                <class>Kdv_Insurance_Model</class>
            </insurance>
        </models>
        <resources>
            <insurance_setup>
                <setup>
                    <module>Kdv_Insurance</module>
                </setup>
            </insurance_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Kdv_Insurances_Block_Adminhtml_Sales_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Kdv_Insurances_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Kdv_Insurances_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <insurance>
                <class>Kdv_Insurance_Block</class>
            </insurance>
        </blocks>
        <helpers>
            <insurance>
                <class>Kdv_Insurance_Helper</class>
            </insurance>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <insurance_amount>
                    <to_order>*</to_order>
                </insurance_amount>
                <base_insurance_amount>
                    <to_order>*</to_order>
                </base_insurance_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/total_quote</class>
                        <after>subtotal</after>
                    </insurance>
                </totals>
            </quote>
        </sales>
        <events>
            <admin_system_config_changed_section_insurance_carriers>
                <observers>
                    <insurance>
                        <type>model</type>
                        <class>insurance/observer</class>
                        <method>saveCarriersAction</method>
                    </insurance>
                </observers>
            </admin_system_config_changed_section_insurance_carriers>
        </events>
        <!-- Тут будут модели, блоки, хелперы, реврайты, глобальные обсерверы -->
    </global>
    <frontend>
        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <!-- Все касательно frontend части магазина: роуты, макеты, переводы, обсерверы -->
    </frontend>
    <admin>
        <!-- Все касательно admin части магазина: роуты, макеты, переводы-->
    </admin>
    <defalut>
        <!-- Все касательно admin части магазина:  макеты, переводы, обсерверы -->
    </defalut>
</config>