<?xml version="1.0" ?>
<config>
    <modules>
        <Kdv_Insurance>
            <version>1.0.0</version>
        </Kdv_Insurance>
    </modules>
    <global>
        <models>
            <insurance>
                <class>Kdv_Insurance_Model</class>
            </insurance>
        </models>
        <resources>
            <insurance_setup>
                <setup>
                    <module>Kdv_Insurance</module>
                </setup>
            </insurance_setup>
        </resources>
        <blocks>
            <insurance>
                <class>Kdv_Insurance_Block</class>
            </insurance>
        </blocks>
        <helpers>
            <insurance>
                <class>Kdv_Insurance_Helper</class>
            </insurance>
        </helpers>
        <events>
            <admin_system_config_changed_section_insurance_carriers>
                <observers>
                    <insurance>
                        <type>model</type>
                        <class>insurance/observer</class>
                        <method>saveCarriersAction</method>
                    </insurance>
                </observers>
            </admin_system_config_changed_section_insurance_carriers>
        </events>
        <!-- Тут будут модели, блоки, хелперы, реврайты, глобальные обсерверы -->
    </global>
    <frontend>
        <layout>
            <updates>
                <insurance>
                    <file>insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <!-- Все касательно frontend части магазина: роуты, макеты, переводы, обсерверы -->
    </frontend>
    <admin>
        <!-- Все касательно admin части магазина: роуты, макеты, переводы-->
    </admin>
    <defalut>
        <!-- Все касательно admin части магазина:  макеты, переводы, обсерверы -->
    </defalut>
</config>